.mouse_out1{
fill: #2ed553;
stroke: #1D1D1B;
}
.mouse_over1{
fill: #065000;
stroke: #1D1D1B;
}
.mouse_out2{
fill: #ff1d1d;
stroke: #1D1D1B;
}
.mouse_over2{
fill: #500000;
stroke: #1D1D1B;
}
